.header {
  position: fixed;
  top: 0px;
  z-index:1;
  width: 100%;
 
}
.scrolled {
  background-color: black;

}


.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 2px;
  background: #202020;
}

.progress-bar {
  height: 2px;
  background: green;
  width: 0%;
}

.content {

  margin: 100px auto 0 auto;
  width: 100%;
}
 .classic {
  position: absolute;
  top: 0px;
  z-index:1;
  width: 100%;

}

.scroll{
    background :scroll;


  }


.long {
height:1500px>
}