

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 400px;

  }

/* The navigation menu links */
.sidenav a {
  padding: 0px 2px 0px 4px;
  text-transform: bold;
  text-decoration: none;
  font-size: 18px;
  color: #FF6347;
  display: block;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #800000;
}

/* Style page content */
.main {
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 500px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 500px) {
  .sidenav {
    display: none !important;
  }
}
.footer-social a {
  line-height: 0;
  border-radius: 50%;
  margin: 2 10px 10px 0;
  border: 5px solid rgba(255, 165, 0, 0.1);
  width: 0px;
  height: 0px;
  text-align: top;
  display: inline-block;
 }
  .footer-social a:hover {
    background: #8B4513;
    border-color: #fff;
    color: #FF0000; }
.core a{
  position: relative;
  animation: mymove 15s;
  animation-iteration-count: 5;


}

@keyframes mymove {
  from {left: 200px;}
  to {left: 0px;}
}





